.list-one-selection{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.item{
    margin: 10px;
}

.side-to-side-element{
    display: inline;
}